   /*    * { border: 1px solid red; }   */

body, html{
  font-family: Helvetica Neue,Helvetica,Arial;
  color: white;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}

.background-image{
  background-image: url(images/background.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.content{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header-container{
  top: 0;
  position: sticky;
}

.project-button-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-side-container, .shreyas-honnalli, .right-side-container{
  width: 100%;
  height: 100%;
}

.shreyas-honnalli{
  min-width: 300px;
}

.content{
  flex: 1;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.extras-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.about-me-container{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.shreyas-honnalli, .quote-container{
  padding: 20px;
  text-align: center;
}


.shreyas-honnalli{
font-size: 32px;
}

button{
  background-color: transparent;
  color: white;
  border-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
}

a{
  color: white;
  font-weight: 300;
  text-decoration: none;
}

.left-side-container, .right-side-container{
  display: flex;
  justify-content: flex-start;
}


.project-button, .blog-link{
  padding-right: 20px;
}

.hide{
  color:transparent;
  transition: 0.5s;
  cursor: default;
  pointer-events: none;
}

.unhide{
  color: white;
  transition: 1s;
  cursor: pointer;
  pointer-events: all;
}

.pre-loader{
  position: fixed;
  color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-loader.hidden {
  opacity: 0;
  pointer-events: none;
}

.blurred-image{
  filter: blur(16px);
  transition: 1s;
}

.clear-image{
  filter: none;
  transition: 1s;
}

.inner-content{
  text-align: center;
  font-size: 60px;
  filter: none;
  color: transparent;
  cursor: default;
  pointer-events: none;
}

.animate-fade-out, .animate-fade-out *{
  cursor: default;
  pointer-events: none;
  color: white;
  animation-duration: 0.5s;
  animation-name: fade-out-text;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


.animate-fade-in, .animate-fade-in *{
  cursor: default;
  pointer-events: auto;
  color: transparent;
  animation-duration: 1s;
  animation-name: fade-in-text;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade-out-text{
  from{
    color:white;
  }
  to{
    color: transparent;
  }
}

@keyframes fade-in-text {
  from{
    color: transparent;
  }
  to{
    color: white;
  }
}

.animate-fade-in-links, .animate-fade-in-links *{
  transform: translateX(-100px);
  text-align: center;
  cursor: auto;
  pointer-events: all;
  color: transparent;
  animation-duration: 1s;
  animation-name: fade-in-links;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade-in-links{
  0%{
    transform: translateX(-10px);
    color: transparent;
  }
  75%{
    /*     color: transparent;    */

  }
  100%{
    transform: translateX(0);
    color: white;
  }
}

.animate-fade-out-links, .animate-fade-out-links *{
  text-align: center;
  cursor: default;
  pointer-events: none;
  color: white;
  animation-duration: 0.5s;
  animation-name: fade-out-links;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade-out-links {
  0%{
    transform: translateX(0);
    color: white;
  }
  75%{
    /*     color: transparent;    */

  }
  100%{
    transform: translateX(-10px);
    color: transparent;
  }
}

.hidden-inner-content{
  cursor: default;
  pointer-events: none;
  color: transparent;
  filter: none;
}
